.news-item {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin-top: -1px;
}

.news-item button {
  float: right;
}

.clear {
  clear: right;
}

.even {
  background-color: rgb(228, 228, 228);
}
.ranking {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}

.ranking button {
  height: 25px;
  width: 25px;
  border-radius: 5px;
}
.ranking * {
  margin-right: 5px;
}
